/* 共通 css */
:root {
    --main-bg-color: #E6E2D7;
    --sub-bg-color: #000000 ;
    --font-color: #000000;
}
* {
    box-sizing: border-box;
    color: var(--font-color);
}
body {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    margin: unset;
}
img {
    display: block;
}
h1, h2, h3, h4, h5, p, ul, ol, dl, dd {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: 500;
    font-size: 24px;
}
p {
    font-weight: 500;
    font-size: 14px;
}
time {
    font-weight: 500;
    font-size: 12px;
}
a, a:visited {
    color: #fff;
    text-decoration: none;
}
p.copy {
    font-weight: 400;
    font-size: 10px;
    color: #fff;
}
div.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



/* 狭い画面向けの既定の CSS レイアウト値 */
header,
section#News div.container,
section#Products h2,
section#Products span,
footer div {
    writing-mode: vertical-rl;
}
header {
    width: 100%;
    height: 600px;
    background-image: url(https://lh3.googleusercontent.com/d/1BPJPCpVrRjGzs1kJnxkmmX80pRNcuz3_);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    position: relative;
}
header img.logo {
    width: 40px;
    display: inline-block;
}
header h1 {
    margin-left: 60px;
}
header li {
    margin-left: 25px;
}
header a,
header a:visited {
    font-size: 16px;
    font-weight: 400;
}
header div.button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 8px;
}
header div.button a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 30px 18px;
}
section.news {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 0 20px;
    padding-top: 80px;
}
section.news span {
    font-size: 14px;
    font-weight: 400;
}
section.news h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 110%;
    margin-right: 15px;
    margin-left: 30px;
}
section.news div.news_col:nth-of-type(n + 4) {
    display: none;
}
section.news div.news_col {
    border-right: 1px solid #000000;
    padding: 15px 12px;
    margin-top: 20px;
}
section.news div.news_col:nth-of-type(3) {
    border-left: 1px solid #000000;
}
section.products {
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
section.products h2 {
    line-height: 110%;
}
section.products span {
    display: none;
}
section.products div.img_text {
    position: relative;
    margin-top: 70px;
}
section.products img {
    max-width: 301px;
    width: 100%;
}
section.products div.text {
    position: absolute;
    bottom: -20px;
    padding: 30px 32px;
    width: 192px;
}
section.products p {
    color: #fff;
}
section.products div.products1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 80px;
}
section.products div.products1 div.title {
    margin-left: 10px;
}
section.products div.products1 div.text {
    background-color: rgb(249, 233, 6, 0.6);
    left: -20px;

}
section.products div.products2 {
    display: flex;
    justify-content: center;
}
section.products div.products2 div.title {
    margin-right: 10px;
}
section.products div.products2 div.text {
    background-color: rgb(149, 42, 38, 0.6);
    right: -20px;

}
iframe {
    display: block;
    width: 100%;
    height: 450px;
    border: unset;
}
footer {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 20px 30px;
}
footer img.logo {
    width: 40px;
    display: inline-block;
    margin-left: 25px;
}
footer div p {
    color: #fff;
    margin-left: 14px;
}
footer ul {
    margin-right: 25px;
}
footer li {
    font-size: 14px;
    margin-left: 10px;
}
footer a {
    font-size: 14px;
}
footer hr {
    display: inline-block;
    width: 14px;
    margin: 5px 0;
}
footer p.copy {
    width: 100%;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}
@media (min-width: 768px) {
  /* 広い画面向けの CSS */

header {
    background-image: url("https://lh3.googleusercontent.com/d/1RmOOFA7RHw08s-oTS4XQ9pBB3SbpROiJ");
    background-repeat: repeat-x;
    padding: 60px 80px;
    height: 100vh;
}
header div.button {
    left: 40px;
    bottom: 30px;
}
section#News {
    padding-top: 180px;
}
section.news h2 {
    font-size: 36px;
    margin-left: 100px;
}
section.news div.news_col {
    margin-top: 80px;
    padding: 15px 30px;
}
section.news div.news_col:nth-of-type(n + 4) {
    display: block;
}
section.news div.news_col:nth-of-type(3) {
    border-left: unset;
}
section.news div.news_col:nth-of-type(5) {
    border-left: 1px solid #000000;
}
section.products {
    padding-top: 180px;
    padding-bottom: 160px;
}
section.products span {
    display: block;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 18px;
}
section.products h2 {
    font-size: 32px;
}
section.products div.products1 div.title {
    margin-left: 20px;
}
section.products div.products2 div.title {
    margin-right: 20px;
}
section.products img {
    max-width: 639px;
}
section.products div.text {
    width: 358px;
    padding: 50px 115px;
    text-align: center;
}
section.products div.products1 {
    margin-bottom: 160px;
}
section.products div.products1,
section.products div.products2 {
    justify-content: flex-start;
}
footer {
    padding: 80px 80px 30px 30px;
}
footer img.logo {
    margin-left: 60px;
}
footer ul {
    margin-right: 60px;
}
footer li {
    font-size: 16px;
    margin-left: 32px;
}
}
